.modal#background {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.modal#form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 30%;
    height: fit-content;
    border-radius: 10px;
    padding: 5%;
}

.form#inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.form#inputs label{
    height: fit-content;
}

.form#inputs label input{
    height: 20px;
}

.form#inputs label, input{
    display: block;
    width: 100%;
}

.form#inputs input{
    margin-bottom: 8px;

}

.form#inputs label:last-child {
    margin-bottom: 0;
}

.form#buttons {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
}
.form button {
    width: 45%;
    padding: 5px 10px;
    height: fit-content;
}
