body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Bahnschrift', sans-serif;
}

.logo_window {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 500px;
    padding: 0 40px;
    background: #E6E6E6;
    box-shadow: -26px 19px 23.1px rgba(202, 81, 180, 0.59);
    border-radius: 12px;
    z-index: 1;
    font-size: 18px;
}

.logo_window img {
    scale: 60%;
}

.form_window {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 600px;
    min-width: 600px;
    height: 480px;
    position: relative;
    padding: 40px 0 30px 40px;
    left: -40px;
    background: linear-gradient(88.65deg, #CA51B4 -6.56%, #5D168A 102.58%);
    box-shadow: 0 19px 23px rgba(0, 0, 0, 0.31);
    border-radius: 8px;
    gap: 30px;
}

.inactive {
    opacity: 0.5;
}

.auth_selector {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
}

.auth_selector div a {
    display: block;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.line {
    height: 2px;
    background-color: white;
    width: 100%;
}

.reg_form, .login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 70%;
    height: 100%;
}

.reg_form_fields {
    width: 100%;
}

.reg_form_fields label {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
    gap: 3px;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input_line {
    height: 1px;
    background-color: white;
}

.auth_button {
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Bahnschrift', sans-serif;
    cursor: pointer;
    font-size: 18px;
    color: #5d168a;
}

.auth_button#reg_btn {
    width: 220px;
}

.auth_button#login_btn {
    width: 100px;
}
