@media screen and (min-device-width: 701px) {
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Bahnschrift', sans-serif;
    background-image: url("/static/img/backgroung.jpg");
    background-size: cover;
}

.logo_window {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 500px;
    padding: 0 40px;
    background: #E6E6E6;
    box-shadow: -26px 19px 23.1px rgba(202, 81, 180, 0.59);
    border-radius: 12px;
    z-index: 1;
    font-size: 18px;
    gap: 20px;
}

.logo_window img {
    scale: 60%;
    height: auto;
}

.content_window {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 600px;
    min-width: 600px;
    height: 480px;
    position: relative;
    padding: 40px 0 30px 40px;
    left: -40px;
    border-radius: 8px;
    gap: 30px;
    background: linear-gradient(98.07deg, #CA51B4 29.97%, #5D168A 81.41%);
}

.inactive {
    opacity: 0.5;
}

.auth_selector {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
}

.auth_selector div a {
    display: block;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.line {
    height: 2px;
    background-color: white;
    width: 100%;
}

.reg_form, .login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 70%;
    height: 100%;
}

.reg_form_fields {
    width: 100%;
}

.reg_form_fields label {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
    gap: 3px;
}

input {
    font-family: 'Bahnschrift', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: solid 1px white;
    height: 25px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.auth_button {
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Bahnschrift', sans-serif;
    cursor: pointer;
    font-size: 18px;
    color: #5d168a;
}

.auth_button#reg_btn {
    width: 220px;
}

.auth_button#login_btn {
    width: 100px;
}


.form:target {
    display: inline-block;
}

.form:not(:target) {
    display: none;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 1) inset !important;
    border-radius: 3px;
}
}


@media screen and (max-device-width: 700px) {
    html {
        max-width: 100%;
        min-height: 100vh;
        border: 1px solid black;
    }

    body {
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        max-width: 100%;
        min-height: 100vh;
        background-size: cover;
    }

    .content_window {
        height: 100vh;
        width: 90%;
        left: 0;
        max-width: 500px;
        min-width: 200px;
        padding: calc(240px + 40px + 30px) 10px 0;
        box-shadow: -4px 0px 5px rgba(0, 0, 0, 0.6);
        border-radius: 0;
    }

    .logo_window {
        width: 95%;
        height: 240px;
        position: absolute;
        align-items: center;
        top: 40px;
        box-shadow: -5px 5px 5px rgba(149, 60, 133, 0.7);
        font-size: 16px;
        padding: 0 40px;
    }

    .logo_window img {
        scale: 100%;
        width: 150px;
        height: auto;

    }

    .logo_window div {
        max-width: 300px;
    }

    .auth_selector {
        font-size: 14px;
        width: 100%;
    }

    .reg_form, .login_form{
        justify-content: start;
        width: 90%;
    }
}
