.group_window {
    background-image: url("../img/backgroung.jpg");
    background-size: cover;
    height: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 3px;
}

.group_header {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background: white;
    border-radius: 2px;
    border: 1px solid lightgray;
    padding: 5px 15px;
}

.group_header .back {
    background-image: url("../img/back_arrow.png");
    background-size: cover;
    height: 45px;
    width: 26px;
    cursor: pointer;
}

.add_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.add_buttons a {
    height: 45px;
    width: 45px;
    border-radius: 2px;
    cursor: pointer;
}

.add_buttons .add_inner_link {
    background-image: url("../img/add_inner_link.png");
    background-size: cover; /* Размер изображения */
}

.add_buttons .add_inner_group {
    background-image: url("../img/add_inner_group.png");
    background-size: cover;
}

.group_main {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 20px 20px;
}

.inner_group, .inner_link{
    box-sizing: border-box;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
}

.inner_group span, .inner_link span {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.inner_link div, .inner_group div {
    display: grid;
    grid-template-columns: 50px  auto;
    width: 100%;
    gap: 15px;
}

.group_window .delete_button {
    background-image: url("../img/cross.png");
background-color: transparent;
    background-size: cover;
    display: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;

}

.inner_group:hover .delete_button,
.inner_link:hover .delete_button {
    display: block;
}