.links {
    background-color: #5d168a;
    padding: 2%;
    min-width: 450px;
    height: fit-content;
    border-radius: 5px;
}

.link_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.link_group div {
    display: block;
    flex-basis: 100%;
    margin: 10px 0;
}

.link_group div a {
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    align-content: center;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}