body {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

aside {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    background: white;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    width: 250px;
    z-index: 2;
}

.quick_menu {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 150px - 50px);
    align-items: center;
    overflow-y: auto;
}

.quick_menu_box {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    padding: 5px 15px;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: 50px;
    min-height: 50px;
    background: lightgray;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.quick_menu .item {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 5px 15px;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 50px;
    min-height: 50px;
    background-color: white;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
}

.quick_menu .item:last-child {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

a:link, a:hover, a:visited, a:active {
    color: #5d168a;
    text-decoration: none;
}

.quick_menu a.active_quick_menu_group {
    background-color: #CA51B4;
    color: white;
}

.logo_container {
    display: flex;
    box-sizing: border-box;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logo_container span {
    display: none;
}

aside img#logo {
    height: 125px;
    margin: 0;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top_menu {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 30px;
    background: linear-gradient(88.65deg, #CA51B4 -6.56%, #5D168A 102.58%);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
    min-height: 75px;
    z-index: 1;
}

.profile_name {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 25px;
    color: white;
}

.profile_name a {
    height: 50px;
    cursor: pointer;
}

.profile_name a img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.profile_name a img:hover {
    filter: brightness(80%);
}

.main_window {
    background-image: url("/static/img/backgroung.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    overflow-y: auto;
    overflow-x: hidden;
}

.main_groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    line-height: 150px;
    margin: 5px 10px;
}

.main_groups .item, .add_main_group_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 150px;
    background-color: #CA51B4;
    border-radius: 2px;
    font-size: 22px;
    filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.3));
    margin: 15px 15px;
    flex: 0 calc(33% - 30px);
    min-width: 25%;
    cursor: pointer;
    position: relative;
}

.main_groups .item:hover, .group_main .item:hover, .add_main_group_link:hover {
    filter: brightness(95%) drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.3));
}

#settings_quick_menu .item:hover, .quick_menu .item:hover {
    filter: brightness(95%);
}

.main_groups .delete_button {
    background-image: url("/static/img/cross_white.png");
    background-color: transparent;
    background-size: cover;
    display: none;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.group:hover .delete_button {
    display: block;
    height: 20px;
    width: 20px;
}

.add_main_group_link {
    background-color: white;
    color: #CA51B4;
    font-size: 60px;
    cursor: pointer;
    width: calc(33vw - 30px);
}

.sidenav_btn {
    display: none;
}

.close_btn {
    display: none;
}

@media screen and (max-device-width: 700px) {
    html {
        max-width: 100%;
        min-height: 100vh;
        border: 1px solid black;
    }

    body {
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        max-width: 100%;
        min-height: 100vh;
        background-size: cover;
    }

    .profile_name span{
        font-size: 2em;
    }

    .profile_name a {
        height: 6vh;
        cursor: pointer;
    }

    .profile_name a img {
        border-radius: 50%;
        height: 6vh;
        width: auto;
    }

    .main_groups .item, .add_main_group_link{
        height: 200px;
        width: 100%;
        max-width: none;
        min-width: auto;
        font-size: 2em;
        flex: none;
        margin: 15px 0;
    }

    .add_main_group_link{
        font-size: 5em;
    }

    .main_groups {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-row-gap: 0;
        justify-items: center;
        padding: 0 15px;
    }

    .top_menu {
        min-height: 8vh;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
    }

    .sidenav_btn {
        font-size: 3em;
        color: white;
        display: block;
        cursor: pointer;
    }

    .close_btn {
        font-size: 5em;
        display: block;
        cursor: pointer;
    }

    aside {
        display: none;
        box-sizing: border-box;
        width: 65vw;
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
    }

    .control_panel {
        color: black;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 100%;
        min-height: 8vh;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }

    .logo_container {
        flex-direction: row;
        justify-content: start;
        gap: 30px;
    }

    .logo_container span {
        display: block;
        font-size: 1.8em;
    }

    #logo {
        content: url("/static/img/logo.png");
    }

    .quick_menu_box {
        width: 100%;
        height: 7vh;
        background: lightgray;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        z-index: 2;
        font-size: 2em;
        padding-left: 1em;
    }

    .quick_menu .item {
        height: 7vh;
        font-size: 1.8em;
        padding-left: 1em;
    }
}