body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

header {
    padding: 5px 25px;
}

.page {
    display: grid;
    grid-template-columns: 200px auto;
    grid-auto-rows: 1fr;
    height: calc(92vh - 100px);
    gap: 10px;
}

.groups_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    box-sizing: content-box;
    align-content: flex-start;
    justify-content: center;
    background-color: #ca51b4;
    border-radius: 8px;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    padding-top: 15px;
    font-size: 20px;

}

.quick_nav {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.quick_nav button {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 90%;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    color: #5d168a;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    padding: 10px;
}

.quick_nav ul li {
    text-wrap: avoid;
    margin: 20% 0;
}

.groups {
    background-color: #5d168a;
    padding: 2%;
    min-width: 450px;
    height: fit-content;
    border-radius: 8px;
}


button {
    color: #5d168a;
}


.edit_buttons {
    display: flex;
    width: 100%;
    height: 50px;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.edit_buttons#main {
    justify-content: flex-end;
}

.edit_button {
    height: 100%;
    width: 90px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #5d168a;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    padding: 5px;
}


.group_card {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    line-height: 100px;
}

.groups .card {
    height: 100px;
    background-color: white;
    width: 200px;
    position: relative;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
}

.profile_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.profile_bar img {
    border-radius: 50%;
}

.profile_link {
    cursor: pointer;
}