.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    font-family: Bahnschrift, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 50px 100px;
    background: linear-gradient(88.65deg, #CA51B4 -6.56%, #5D168A 102.58%);
    box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    color: white;
    box-sizing: content-box;
}

.input_fields {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 30px;
}

.modal_input_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    text-align: start;
    width: 100%;
}

.modal_input {
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-family: Bahnschrift, serif;
    border-bottom: solid 2px white;
}

.modal_buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

.my_button {
    width: fit-content;
    height: 40px;
    box-sizing: border-box;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: Bahnschrift, serif;
    font-size: 1em;
}

.cancel_btn {
    background-color: #E6E6E6;
    color: #7B20B5;
}

.cancel_btn:hover {
    background-color: #C6C6C6;
}

.submit_btn {
    color: #CA51B4;
    background-color: white;
}

.submit_btn:hover {
    filter: brightness(95%) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
}

.modal p {
    font-family: Bahnschrift, serif;
    display: inline-block;
    text-align: center;
}

.modal_message {
    display: inline;
    font-family: Bahnschrift, serif;
    max-width: 400px;
    word-wrap: normal;
}

.modal_message_name {
    color: black;
}

.modal_error {
    line-height: 1.5;
}

@media screen and (max-device-width: 700px) {
    .modal {
        font-size: 2.6em;
        padding: 120px 80px;
        border-radius: 20px;
    }

    .modal_input_label {
        gap: 15px;
    }

    .modal_input_label input {
        border-radius: 10px;
        padding: 0 15px;
    }

    .input_fields {
        width: 700px;
        gap: 50px;
    }

    .modal_input {
        height: 1.5em;
        font-size: 0.8em;
    }

    .modal_input::placeholder{
        color: rgba(255, 255, 255, 0.5);
    }

    .modal_buttons {
        gap: 50px;
    }

    .my_button {
        padding: 10px 45px;
        font-size: 0.9em;
        min-height: 120px;
        border-radius: 25px;
    }

    .content .my_button {
        font-size: 2.2em;
    }
}
