<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link<Hub></title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/main_groups.css">
    <link rel="stylesheet" href="/static/css/in_group_links.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    <script src="/static/scripts/main.js"></script>
</head>
<body>
    <header>
        <img src="/static/img/logo.png" height="100" alt="logo"/>
    </header>
    <div class="page">
        <aside class="groups_list">
            Быстрый доступ
            <nav class="quick_nav">
                <button>Группа 1</button>
                <button>Группа 2</button>
            </nav>
        </aside>
        <main class="groups">
            <div class="edit_buttons" id="main">
                <button class="add_group_button edit_button">Добавить</button>
                <button class="add_link_button edit_button">Добавить ссылку</button>
            </div>
            <div class="group_card" data-current-folder="{folder_id}">
                {template}
                <div class="add_card card">
                </div>
            </div>
        </main>
        <main class="links">
            <div class="edit_buttons" id="groups">
                <button class="back_button edit_button">
                    Назад
                </button>
                <button class="add_link_button edit_button">Добавить</button>
            </div>
            <div class="link_group">
            </div>
        </main>
    </div>
    <div class="templates">
        <div class="card">
            <div class="card_label"></div>
            <button class="delete_card_btn">✖</button>
        </div>
        <div class="link">
            <a>Link</a>
            <button class="delete_link_btn">✖</button>
        </div>
    </div>
    <div id="background" class="modal">
        <form id="form" class="modal">
            <div id="inputs" class="form">
                <label>
                    Имя<br>
                    <input class="add_modal_form" id="link_name">
                </label>
                <label>
                    Ссылка<br>
                    <input class="add_modal_form" id="link">
                </label>
            </div>
            <div id="buttons" class="form">
                <button class="cancel" type="button">
                    Отменить
                </button>
                <button class="submit" type="submit">
                    Добавить
                </button>
            </div>
        </form>
    </div>
</body>
</html>