<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link<Hub></title>
    <script src="../static/scripts/in_group_links.js"></script>
    <link rel="stylesheet" href="../static/css/in_group_links.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="page">
        <aside class="groups_list">
            <nav class="quick_nav">
                <button>Группа 1</button>
                <button>Группа 2</button>
            </nav>

        </aside>
        <main class="links">
            <div class="edit_buttons">
                <button class="del_link_button edit_button">Удалить</button>
                <button class="add_link_button edit_button">Добавить</button>
            </div>
            <div class="link_group">
                <div><a>Ссылка 1</a></div>
                <div><a>Ссылка 2</a></div>
                <div><a>Ссылка 3</a></div>
                <div><a>Ссылка 4</a></div>
                <div><a>Ссылка 5</a></div>
                <div><a>Ссылка 6</a></div>
            </div>
        </main>
    </div>
</body>
</html>