<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link<Hub></title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/main_groups.css">
    <script src="../static/scripts/main.js"></script>
</head>
<body>
    <header>
        <img src="../static/img/logo.png" height="100" alt="logo"/>
    </header>
    <div class="page">
        <aside class="groups_list">
            Быстрый доступ
            <nav class="quick_nav">
                <button>Группа 1</button>
                <button>Группа 2</button>
            </nav>
        </aside>
        <main class="groups">
            <div class="edit_buttons" id="main">
                <button class="add_group_button edit_button">Добавить</button>
            </div>
            <div class="group_card">
                <div class="add_card card">
                </div>
            </div>
        </main>
    </div>
</body>
</html>