<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/modal.css">
</head>
<body id="modal">
<div id="background" class="modal">
    <div id="form" class="modal">
        <div id="inputs" class="form">
            <label>
                Имя<br>
                <input class="add_modal_form" id="link_name">
            </label>
            <label>
                Ссылка<br>
                <input class="add_modal_form" id="link">
            </label>
        </div>
        <div id="buttons" class="form">
            <button class="cancel">
                Отменить
            </button>
            <button class="submit">
                Добавить
            </button>
        </div>
    </div>
</div>
</body>
</html>