<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link<Hub></title>
    <link rel="stylesheet" href="../css/templates.css">
</head>
<body>
<div class="modal_background">
    <div class="modal">
        <form class="input_fields">
            <label class="modal_input_label">
                <span>Имя</span>
                <input class="modal_input" name="name" type="text" placeholder="Введите имя группы">
                <div class="line"></div>
            </label>
            <div class="modal_buttons">
                <button class="cancel_btn">Отменить</button>
                <button class="submit_btn" type="submit">Создать группу</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>