<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link<Hub></title>
    <link href="../css/templates.css" rel="stylesheet">
</head>
<body>
<div class="modal_background">
    <div class="modal">
        <p class="modal_message">Удалить ссылку <br>"<span class="modal_message_name">Какая-то ссылка бла бла бла бла</span>" ?</p>
        <div class="modal_buttons">
            <button class="cancel_btn">Отменить</button>
            <button class="submit_btn">Удалить</button>
        </div>
    </div>
</div>
</body>
</html>