<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link<Hub></title>
    <link href="../css/templates.css" rel="stylesheet">
</head>
<body>
<div class="modal_background">
    <div class="modal">
        <p class="modal_message">Вы действительно хотите <span class="modal_message_name">выйти</span> ?</p>
        <div class="modal_buttons">
            <button class="cancel_btn">Остаться</button>
            <button class="submit_btn">Выйти</button>
        </div>
    </div>
</div>
</body>
</html>